@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
    border: 0cm;
    
}

body{
    font-family: "Roboto";
}

.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.subtitulo{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

header{
    width: 100%;
    height: 500px;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef629f85, #eecda3d3), url(../imagenes/libros.jpg); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef629f85, #eecda3d3), url(../imagenes/libros.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

nav{
    height: 100px;
    padding: 10px;
}

li{ 
    list-style-type:none;
    float: left;
}

.grid-container {
    display: grid;

    gap: 10px;
}

.grid-item {
    background-color: #ff77d2;
    color: rgb(18, 18, 18); 
    padding: 50px; 
    text-align: justify;
    border: 1px solid #ddd; /
    border-radius: 5px;
}

ul{
    display: flex;
    flex-direction: row;
}

a{
    text-decoration:solid;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
}

a:hover{
background-color: #D91A96;
transform: translateY(5px);
}

.wave{
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-bottom: 70px;
}

.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-headerh1{
    font-size: 40px;
    font-weight: 300;
}

.textos-headerh2{
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}

main .info-feria{
    padding: 30px 0 60px 0;
}

.contenedor-info-feria{
    display:flex;
    justify-content: space-evenly;
}

.logo-feria{
    width: 26%;
    height: 26%;
}

.contenido-texto{
    width: 48%;
    padding: 5px;
    line-height: 30px;
}

.contenido-textoh3{
    margin-bottom: 15px;
    font-weight: 400;
}

.contenido-textoh3span{
    background: #D91A96;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 5px;
}

.contenido-textop{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.galeria{
    background: #f2f2f2;
}

.imagenes-feria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imginicio{
    width: 20%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.imginicio > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tarjetas{
    display: flex;
    justify-content: space-evenly;
}

.tarjeta{
    background:#1782c4ab;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: 400;
    padding: 5px;
    line-height: 30px;
    border: 15px solid whitesmoke;
}

.contenido-texto-tarjeta{
    width: 70%;
    font-weight: 400;
    font-size: large;
    text-align: center;
}

.texto-tarjeta-p{
    padding: 5%;
    font-size: large;
    font-weight: 300;
    text-align: justify;
}

footer{
    position: relative;
    width: 100%;
    background: #d91a968a;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li a{
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li .a-footer:hover{
    transform: translateY(-15px);
    background: none;
}

.footer-p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 300;
}


.editoriales-listado {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 20px;
}

.editoriales-listado a{
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px 10px;
    background: #d91a966c;
    text-decoration: none;
    border-radius: 10px;
    font-size: large;
    font-size: large;
    font-weight: 400;
    font-style: italic;
    color: #000;
    text-align: left;
}

.librerías-listado {
    display: flex;
    justify-content: space-evenly;
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    margin-bottom: 20px;
}

.librerías-listado ul {
    margin: 0 0 0 50px; 
}

.librerías-listado a{
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px 10px;
    background: #d91a966c;
    text-decoration: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 400;
    font-style: italic;
    color: #000;
    text-align: left;
    }

.párrafo-auxiliar{
    width: 90%;
    padding: 15px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.contenedor-info-feria{
    display: flex;
    justify-content: space-evenly;
}

main .programa-actividades{
    padding: 30px 0 60px 0;
}

.zona-docente{
    width: 40%;
    height: 40%;
    margin:10px;
    float: right;
    border-radius: 5%;
}

section{

    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px;
    }
    
.container {

    
    background-color: #fff;
    text-align: center;
    margin top: 100px;
    

}
    
h2 {
    margin-bottom: 10px;
    font-size: 30px;
    padding: 0px;
    }
    
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;

    margin-bottom: 60px;
    }
    
label {
    margin-bottom: 5px;
    text-align: left;
    }
    
input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
        }
    
button:hover {
    background-color: #0056b3;
    }
.grid-container{
    min-height: 400px;
    padding: 10px;
    gap: 10px;
    display: grid;
    justify-items:stretch;
    align-items: stretch;
    justify-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 1fr);
}

.grid-item1{
    background: #d91a9641;
    font-size: 20px;
    text-size-adjust:inherit;
    margin: 15px;
    font-weight: 400;
}

.grid-item2{
    background: #1782c47a;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.grid-item3{
    background: #1782c47a;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}    

.grid-item4{
    background: #d91a9641;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}

.grid-item5{
    background: #d91a9641;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}

.grid-item6{
    background: #1782c47a;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}    

.grid-item7{
    background: #1782c47a;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}

.grid-item8{
    background: #d91a9641;
    font-size: 10px;
    text-align: center;
    margin: 15px;
    font-style: italic;
}

.grid-item9{
    background: #d91a9641;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}    

.grid-item10{
    background: #1782c47a;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}


.pgridtitulo{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 20px;
}

.pgrid{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
}

/*media queries*/
@media (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 767px) {

}
